.breadcrumb {
	display: flex;
	font-size: calc(14rem / 16);
}
.crumb:not(:first-of-type) {
	margin-left: 8px;
}
.crumb:not(:first-of-type)::before {
	content: '/';
	margin-right: 8px;
	color: var(--color-gray-300);
}
.crumb > a {
	color: var(--color-gray-700);
	text-decoration: none;
}
.crumb > a:hover {
	color: var(--color-gray-900);
}
